################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nzemberek.sln
/NZemberek.TurkiyeTurkcesi.Demo/obj/Debug
/NZemberek.TurkiyeTurkcesi.Demo/bin/Debug
/NZemberek.TurkiyeTurkcesi/obj/Debug
/NZemberek.TurkiyeTurkcesi/bin/Debug
/NZemberek.DilAraclari/obj/Debug
/NZemberek.Cekirdek/obj/Debug
