<?xml version="1.0" encoding="utf-8" ?>
<!-- ***** BEGIN LICENSE BLOCK *****
   - Version: MPL 1.1
   -
   - The contents of this file are subject to the Mozilla Public License Version
   - 1.1 (the "License"); you may not use this file except in compliance with
   - the License. You may obtain a copy of the License at
   - http://www.mozilla.org/MPL/
   -
   - Software distributed under the License is distributed on an "AS IS" basis,
   - WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
   - for the specific language governing rights and limitations under the
   - License.
   -
   - The Original Code is Zemberek Doğal Dil İşleme Kütüphanesi.
   -
   - The Initial Developer of the Original Code is
   - Ahmet A. Akın, Mehmet D. Akın.
   - Portions created by the Initial Developer are Copyright (C) 2006
   - the Initial Developer. All Rights Reserved.
   -
   - Contributor(s):
   -  Mert Derman
   -  Tankut Tekeli
   - ***** END LICENSE BLOCK ***** -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="oneri.deasciifierKullan" value="true" />
    <add key="oneri.kokFrekansKullan" value="true" />
    <add key="oneri.bilesikKelimeKullan" value="true" />
    <add key="bilgi.disKaynakErisimi" value="false" />
    <add key="denetleme.cepKullan" value="true" />
    <add key="oneri.max" value="3" />
  </appSettings>
</configuration>

