<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="oneri.deasciifierKullan" value="true" />
    <add key="oneri.kokFrekansKullan" value="true" />
    <add key="oneri.bilesikKelimeKullan" value="true" />
    <add key="bilgi.disKaynakErisimi" value="false" />
    <add key="denetleme.cepKullan" value="true" />
    <add key="oneri.max" value="5" />
    <add key="dilAyarlari.KutuphaneAdi" value="NZemberek.TurkiyeTurkcesi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="dilAyarlari.SinifAdi" value="NZemberek.TrTurkcesi.Yapi.TRDilFabrikasi" />
    <add key="dilAyarlari.KaynakDizini" value="Kaynaklar" />
  </appSettings>
</configuration>